/* Enter your custom styles here */
.container {
    padding: 20px;
}

.txt-right {
    text-align: right;
}

.cards {
    padding-left: 5px;
    padding: 3px;
}

.popover {
    padding: 7px;
}

.margin {
    margin-bottom: 10px;
}